.topnav {
  overflow: hidden;
  /*font-family: 'Lato';*/
  font-weight: 900;
  color: black;
  padding-right: 2em;
  /*border-top: 1px solid black;
  border-bottom: 1px solid black;*/
}

#centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#movieRatingPlaceholder {
  display: inline-block;
}

.searchBlock {
  margin-right: .5em;
  margin-left: .5em;
}

#movieInfoBox {
  background-color: red;
  display: none;
  text-align: center;
  justify-content: space-between;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}


#movieInfoVertical {
  display: flex;
  flex-direction: column;
}

.topnav a {
  margin-top: 1em;
  margin-right: 1em;
  color: #FFACFC;
  float: right;
  display: block;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1em;
}

.topnav a:hover {
  /*background-color: #ddd;
  color: black; */
  text-decoration: underline;
}

#infoBlock {
    color: #FFACFC;
  display:flex;
   align-content: center;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 1em;
}
